[Unit]
Description=Gunicorn daemon
After=network.target

[Service]
User=shino
Group=shino
WorkingDirectory=/home/shino/albatross-tester
Environment="PATH=/home/shino/albatross-tester/venv/bin"
ExecStart=/home/shino/albatross-tester/venv/bin/gunicorn --bind 0.0.0.0:8000 albatross.wsgi:application

[Install]
WantedBy=multi-user.target
